<h1>Calculate the square of a number</h1>

<form action="/payment/results">
  <label for="dog">APR</label>

  <input id="dog" type="text" name="users_number_2">

  <button>Calculate monthly payment</button>
</form>
