<h1>Calculate the square of a number</h1>

<form action="/payment/results">
  <div>
    <label for="dog">APR</label>
    <input id="dog" text="text" name="user_apr" placeholder="E.g. 5.42">
  </div>

  <div>
    <label for="cat">Number of years</label>
    <input id="cat" text="text" name="user_years" placeholder="How many years to repay?">
  </div>

  <div>
    <label for="rat">Principal</label>
    <input id="rat" text="text" name="user_pv" placeholder="How much principal?">
  </div>

  <button>Calculate monthly payment</button>
</form>
